@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (IsAuthenticated)
{
    <MudLayout>
        <MudAppBar Elevation="4">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => isDrawerOpen = !isDrawerOpen)" />
        </MudAppBar>
        <MudDrawer @bind-Open="isDrawerOpen" ClipMode="DrawerClipMode.Docked" Elevation="8">
            @*NavMenu*@
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool isDrawerOpen = true;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    public bool IsAuthenticated { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var User = (await authenticationStateTask).User;

        if (!(User.Identity?.IsAuthenticated ?? false))
        {
            var currentUri = NavigationManager.Uri;
            bool IsOnAnonymousPage = currentUri.EndsWith("/account") || currentUri.Contains("/account/");

            if (!IsOnAnonymousPage)
                NavigationManager.NavigateTo("/account/login");
        }

        IsAuthenticated = true;
    }
}
